<section id="sect-footer" class="bg-verdee w-100">
    <div class="container">
        <img alt="Logo Scoob Credirio Sul" src="https://www.sicoob.com.br/image/layout_set_logo?img_id=1284127&t=1716546347033" />
        <p>Central de Atendimento Sicoob Atendimento 24h | Capitais e regiões metropolitanas: <a href="tel:40001111">4000-1111</a> | Demais localidades: <a href="tel:0800642000">0800 642 000</a><br />Ouvidoria Sicoob: Atendimento seg. a sex. de 8h às 20h <a href="tel:08007250996">0800 725 0996</a> | <a href="www.ouvidoriasicoob.com.br" target="_blank">www.ouvidoriasicoob.com.br</a> | Deficientes auditivos ou de fala: <a href="tel:08009400458">0800 940 0458</a><br />SAC - 24h <a href="tel:08007244420">0800 724 4420</a> | Demais serviços de atendimento <a href="www.sicoob.com.br" target="_blank">www.sicoob.com.br</a></p>
    </div>
</section>

<script type="text/javascript" src="/public/scripts/jquery-3-3-1.min.js"></script>
<script type="text/javascript" src="/public/scripts/popper-1-14-7.min.js"></script>
<script type="text/javascript" src="/public/scripts/bootstrap-4-3-1.min.js"></script>

<!-- Import app public UI_controller JS -->
<script type="text/javascript" src="/public/scripts/ui_controller.js"></script>

<!-- Import static page JS -->
<script type="text/javascript" src="./script.js"></script>
