<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/public/css/bootstrap-4-3-1.min.css">

  <!-- Import Sicoob Web DS Styles -->
  <link rel="stylesheet" href="/public/css/sicoob-styles.css">
  <!-- Import APP public CSS -->
  <link rel="stylesheet" href="/public/css/styles.css">
  <!-- Import static CSS -->
  <link rel="stylesheet" href="./style.css">
</head>