<!DOCTYPE html>
<html lang="pt-br">

<!-- 
  IMPORTAR HEAD.EJS AQUI
-->

<body>
  <nav>
    <ul>
      <% navbarItems.forEach(item => { %>
        <li><a href="<%= item.link %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
  </nav>
  <main>
    <%- body %>
  </main>
  
<!-- 
  IMPORTAR FOOTER.EJS AQUI
-->

</body>
</html>
