@charset "UTF-8";
@font-face {
  font-family: "Sicoob sans";
  src: url("/public/font/SicoobSansVariable.woff2") format("woff2-variations"), url("/public/font/SicoobSansVariable.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 1000;
  font-stretch: 80% 100%;
  font-style: normal;
}
@font-face {
  font-family: "Sicoob script";
  src: url("/public/font/SicoobScriptVariable.woff2") format("woff2-variations"), url("/public/font/SicoobScriptVariable.ttf") format("truetype");
  font-display: swap;
  font-weight: 100 1000;
  font-style: normal;
}

* {
  font-family: 'Sicoob sans', sans-serif;
}

body {
  background-color: var(--turq);
}
section {
  background-color: var(--branco);
}

/* --
          Estilos da Navbar
-- */
#sect-navbar {
  background-color: var(--verdee);
  position: fixed;
  top: 0px;
  width: 100%;
  transition: all 1s;
  z-index: 3;
  padding-block: 30px;
}

#sect-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#sect-navbar .container img[alt*="Logomarca"] {
  width: 150px;
}

#sect-navbar .container .floating-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 1s;
}

#sect-navbar .container .floating-menu a {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--verdec);
  text-decoration: none;
  transition: all .3s;
  text-align: center;
}

#sect-navbar .container .floating-menu a:hover {
  color: #ffffff;
}

#sect-navbar .container .menu-toggle {
  display: none;
  cursor: pointer;
  z-index: 2;
}

#sect-navbar .container .menu-toggle svg {
  width: 30px;
  fill: var(--verdec);
  transition: all .5s;
}

#sect-navbar .container .menu-toggle svg:hover {
  fill: var(--branco);
}

#sect-navbar.short {
  padding-block: 10px;
  background-color: #003641c7;
  backdrop-filter: blur(15px);
}

@media (max-width: 990px) {
  #sect-navbar .container .floating-menu {
    position: fixed;
    top: 0px;
    right: 0px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 20px;
    background-color: #003641;
    height: 100vh;
    z-index: 1;
    transform-origin: 100% 50%;
    transform: rotateY(90deg);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    gap: 5px;
  }

  #sect-navbar .container .floating-menu.open {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }

  #sect-navbar .container .menu-toggle {
    display: block;
  }
}

/* -- 
    Estilos do banner
-- */
#sect-banner {
  margin-top: 98px;
}
#sect-banner .banner-text {
  top: 35%;
}




/* --
    Estilos do rodapé
-- */
#sect-footer {
  padding-block: 80px;
  background-color: var(--verdee);
}
#sect-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#sect-footer .container img {
  max-width: 220px;
}
#sect-footer .container p {
  color: var(--branco)!important;
  text-align: center;
}
#sect-footer .container a {
  color: var(--verdec)!important;
}