/* --
    Estilos da seção anúncio
-- */
#sect-anuncio .info-header {
    gap: 10px;
}

#sect-anuncio .info-header button {
    border: solid 1px var(--roxo-600);
    border-radius: .5rem;
    color: var(--verdee);
    font-weight: 600;
}

/*-- 
    Estilos do componente 
-- */
.componente-abas .nav .btn-group {
    border-radius: .75rem;
}
.componente-abas .nav .nav-link {
    color: var(--verdee) !important;
    border: solid 2px var(--verdee) !important;
    margin-inline: 5px;
}
.componente-abas .nav .nav-link.active {
    background-color: var(--verdee)!important;
    color: white;
    border-color: var(--verdee) !important;
}
.componente-abas .nav .nav-link:hover,.componente-abas .nav .nav-link.active:hover {
    background-color: var(--verdee)!important;
    color: var(--branco)!important;
}

.componente-abas a {
    color: #00AE9D;
}
